# OS / editor cruft
.DS_Store
Thumbs.db
*.log
.vscode/
.idea/

# Local dev servers
node_modules/
.cache/

# Emacs backup files (ending with ~)
*~

# Emacs auto-save files (surrounded by #)
\#*#

# Emacs lock files (starting with .#)
.#*